<footer>
	<article class="logo">
		<h1><a href="../index.html">rojen</a></h1>
	</article>
	<article class="contact">
		<form>
      <h1>contact</h1>
      <p>
        <i class="ri-mail-line"></i>: 
        <a href="mailto:rojenchakradhar72@gmail.com">rojenchakradhar72@gmail.com</a>
      </p>
      <p>
        <i class="ri-phone-line"></i>: 
        <a href="tel:+9779746428695">9746428695</a>
      </p>
      <div class="input email">
        <p>email</p>
        <input type="email" name="email" id="email">
        <p>Sign up for our newsletter and receive 10% off your first order.</p>
      </div>
		</form>
	</article>
	<article class="social">
    <a href="https://www.instagram.com/@rojen.007" target="_blank">
      <i class="ri-instagram-fill"></i>
    </a>
    <a href="https://www.youtube.com/@rojen.random" target="_blank">
      <i class="ri-youtube-fill"></i>
    </a>
    <a href="https://www.linkedin.com/@rojen.007" target="_blank">
      <i class="ri-linkedin-fill"></i>
    </a>
    <a href="https://www.facebook.com/@rojencharkadhar" target="_blank">
      <i class="ri-facebook-fill"></i>
    </a>
  </article>
	<article class="nav-links">
     <h1>menu</h1>
    <ul>
      <li><a href="../index.html">home</a></li>
      <li><a href="../products.html">catalog</a></li>
      <li><a href="../about.html">about</a></li>
      <li><a href="../contact.html">contact</a></li>
    </ul>
  </article>
	<article class="support">
     <h1>support</h1>
    <ul>
      <li><a href="../index.html">faq<span>s</span></a></li>
      <li><a href="../products.html">privacy policy</a></li>
      <li><a href="../about.html">cookies policy</a></li>
    </ul>
  </article>
	<article class="cc">
    <p>© 2025 by Rojen. | All rights reserved.</p>
  </article>
</footer>
