footer {
	height: 100vh;
	width: 100%;
  padding: 0 5vw;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	color: var(--black);
	border-top: 1px solid var(--black);
	background-color: var(--white);
}

footer a {
  color: var(--black);
}

footer .logo {
  grid-area: 1 / 1 / 2 / 5;
  padding-top: 1vw;
}

footer .logo h1 a {
  font-size: 4vw;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
}

footer .contact {
	grid-area: 2 / 1 / 5 / 3;
}

footer .contact form h1,
footer .nav-links h1,
footer .support h1 {
  font-size: 2vw;
  text-transform: uppercase;
}

footer .contact form p {
  width: fit-content;
  margin-top: 1vw;
  font-size: 1.2vw;
  text-transform: lowercase;
  text-decoration: underline;
  color: var(--black);
}

footer .contact .email p:first-child {
  text-transform: uppercase;
}

footer .contact .email {
  margin-top: 5vw;
}

footer .contact .email p {
  text-transform: none;
  text-decoration: none;
}

footer .contact .email input {
  width: 50%;
  padding: 1vw 0 0;
  font-size: 1vw;
  border: none;
  border-bottom: 1px solid var(--black);
  background-color: var(--white);
}

footer .contact .email input:focus {
  outline: none;
}

footer .social {
  grid-area: 5 / 1 / 6 / 3;
  display: flex;
  align-items: center;
  column-gap: 1vw;
}

footer .social a {
  font-size: 2vw;
  text-decoration: none;
  color: var(--white);
  -webkit-text-stroke: 1px var(--black);
}

footer .nav-links {
	grid-area: 2 / 3 / 5 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer ul {
  display: flex;
  flex-direction: column;
  row-gap: 2vw;
  font-size: 1.2vw;
  text-transform: uppercase;
}

footer .support {
  grid-area: 2 / 4 / 5 / 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer ul li span {
  text-transform: lowercase;
}

footer .cc {
  grid-area: 5 / 3 / 6 / 5;
  display: flex;
  align-items: center;
  font-size: 1.2vw;
}