<section id="menu" class="menu hidden">
  <article class="up">
    <h1 class="logo"><a href="../index.html">rojen</a></h1>
    <p id="close" class="close bb">
      <span class="txxt">close</span><i class="ri-close-line icon"></i>
    </p>
  </article>
  <article class="mid">
    <ul>
      <li><a href="../index.html"><span class="num">01</span><span class="txt">home <i class="ri-arrow-right-line arrow"></i></span></a></li>
      <li><a href="../products.html"><span class="num">02</span><span class="txt">catalog <i class="ri-arrow-right-line arrow"></i></span></a></li>
      <li><a href="../about.html"><span class="num">03</span><span class="txt">about <i class="ri-arrow-right-line arrow"></i></span></a></li>
      <li><a href="../contact.html"><span class="num">04</span><span class="txt">contact <i class="ri-arrow-right-line arrow"></i></span></a></li>
    </ul>
  </article>
  <article class="down">
    <p class="cc">© 2025 <a href="../index.html" class="bb ccc"><span class="txxt">rojen</span><i class="ri-arrow-right-up-line ur"></i></a></p>
    <p class="social bb"><a target="_blank" href="https://www.instagram.com/rojen.007/"><span class="txxt">instagram</span><i class="ri-instagram-line icon"></i></a></p>
  </article>
</section>