@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
	font-family: "Poppins", sans-serif;
	font-style: normal;
	/* outline: 1px dotted red; */
}

html,
body {
	height: 100%;
	width: 100%;
}

.abt .div {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 1vw;
	text-align: center;
	margin: 4vw 0;
}

.abt .div h3 {
	font-size: 1.2vw;
	font-weight: 500;
	text-transform: uppercase;
	color: var(--black);
}

.abt .div p {
	width: 70%;
	font-size: 1vw;
	font-weight: 400;
	color: var(--black);
}