@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  /* outline: 1px dotted red; */
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  font-weight: 500;
}

@font-face {
  font-family: 'massedi';
  src: url('../assets/fonts/Massedi.otf');
}

.hero-sec {
  width: 100%;
  background-color: var(--white);
  overflow: hidden;
}

.hero-grid {
  margin: 3vw 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3vw 0;
}

.hero-grid picture {
  height: 100vh;
  width: 43vw;
  flex-shrink: none;
  background-color: #000;
  overflow: hidden;
  cursor: pointer;
}

.hero-grid picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}